/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Righteous', cursive;
    font-weight: 600;
    height: 100vh;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.658);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 5px;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    height: 600px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    color: rgb(29, 100, 207);
    margin-bottom: 130px;
}

.active { background-color: rgba(255, 255, 255, 0.822); }

.active .player-name::after {
    content: "\2022";
    font-size: 70px;
    position: absolute;
    color: #EB4D4D;
    top: -18px;
    
}

.player-current-box {
    background-color: rgb(29, 100, 207);
    color: #fff;
    min-width: 100px;
    width: 40%;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    color: #555;
    background: none;
    border: none;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 10px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 5px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    top: 178px;
    height: 100px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    transform: rotate(360deg);
    transition: transform 1s;
}

.winner { background-color: #f3cf00c2; border-radius: 10px; padding: 5px; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }